.rating{
    display: inline-flex;
  justify-content: space-between;
  
   font-weight: 400;
   font-size: 1.6rem;
  
   
}
.imdb{
    display: inline-flex;
    align-items: center;
    
}
.gap{
    gap: 3rem;
}
.full{
    width: 100%;
}