.nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 ;
  }
  .nav img{
    cursor: pointer;
  }
}
