.btn {
  font-weight: 700;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 2rem;
 
  border-radius: 1rem;
  justify-content: center;
  cursor: pointer;
}
.watch {
  background-color: var(--color-red);
  color: var(--color-white);
  text-transform: uppercase;
  padding: 1rem;
  width: 23rem;
  margin-top: 2rem;
}

.start {
  background-color: var(--color-light-red);
  color: var(--color-red);
  width: 80%;
  padding: 1.5rem;
  border-radius: 3rem;
  font-weight: 500;
  font-size: 1.7rem;
  margin-top: 2rem;
}
.close{
  display: none;
}

@media screen and (max-width:768px) {
  .close{
    display: block;
    position: absolute;
    color: var(--color-red);
    background: none;
    font-size: 3rem;
    font-weight: 600;
    top: 3rem;
  left: 3rem;
  }
  
}