@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
:root {
  --color-white: #fff;
  --color-border: #d1d5db;
  --color-red: #be123c;
  --color-black: #000;
  --color-grey: #9ca3af;
  --color-navy-blue: #111827;
  --color-grey-footer: #6b7280;
  --color-grey-logout: #666;
  --color-light-red: #be123c33;
  --bg-grey:#f8e7eb66;
  --border-red:#be123cb3;
  --color-grey-opacity: #333333cc;
  --bg-red:#be123c1a;
  --color-grey-2:#404040;
  --color-red-dull:#B91C1C;
  --color-dark-2:#333;
  --color-white-2:#E8E8E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
   
    font-size: 2rem;
    max-width: 2000px;
    margin: auto;
}


a:link,a:visited{
    text-decoration: none;
    color: initial;
}

ul li{
    list-style: none;
}



@media screen and (max-width:1024px) {
    html{
        font-size: 55%;
    }
}

























/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; */

/* position: absolute; 
width:100%;
height: declare yours;
bottom: 0; */
